#Title{
	text-align: center;
	font-size: 30px;
	}
#mapid { height: 600px; }
#buttons { 
			text-align: center;
			padding-top: 10px; 
			padding-right: 30px;}
body {
    background-color: lightblue;
}